#container {
    display: flex;        
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.card {
    background-color: #c2ebce;
    border: 1px solid #126437;
    border-radius: 12px;       
    width: 200px;
    text-align: center;
}

.forecast-list {
    text-align: left;
    margin-top: 10px;
}

.forecast-day {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid #f0f0f0;
}

.forecast-day:last-child {
    border-bottom: none;
}

.temp {
    width: 35px;        /* Фиксированная ширина */
    text-align: right;  /* Выравнивание внутри этих 40px */
}
